BasedOnStyle: LLVM
ColumnLimit: 140
BreakBeforeBraces: Attach
UseTab: Always
IndentWidth: 4
TabWidth: 4
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false